  <!-- Header -->
  <header class="header">
    <div class="logo">
      <h3>¿Qué Comemos?</h3>
    </div>
    <nav class="navbar">
      <a routerLink="/" class="nav-link">Inicio</a>
      <a routerLink="/auth/register" class="nav-link">Registrarse</a>
      <a routerLink="/auth/login" class="nav-link">Iniciar Sesión</a>
    </nav>
  </header>

<main class="main">
  <router-outlet />
</main>

<!-- Footer -->
<footer class="footer">
  <p> Taller de Tecnologías de Producción de Sotfware 2024 - Julia Saenz & Manuel Rubiano </p>
</footer>


