.action-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 20px;
    flex-direction: column;
    width: 30vw;
}

.btn {
    width: 100%;
}

.info {
    padding-top: 1rem;
}

/* FORM */
.form-container {
    width: 100vw;
    margin: auto;
    padding: 2rem;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  input[type='checkbox'] {
    width: auto;
    margin-right: 10px;
  }
  
  small {
    color: red;
  }
  
  button.btn {
    padding: 10px 20px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button.btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  