<div class="container centered">
    <h2>Menús</h2>
  
    <div class="menu-container">
      <!-- Tabla -->
      <table>
        <thead>
          <tr>
            <th>Entrada</th>
            <th>Plato Principal</th>
            <th>Bebida</th>
            <th>Postre</th>
            <th>Precio</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let menu of menus">
            <td>{{ menu.entrada?.nombre || 'N/A' }}</td>
            <td>{{ menu.platoPrincipal?.nombre }}</td>
            <td>{{ menu.bebida?.nombre || 'N/A' }}</td>
            <td>{{ menu.postre?.nombre || 'N/A' }}</td>
            <td>{{ menu.precio }}</td>
          </tr>
        </tbody>
      </table>
  
      <!-- Form -->
      <div class="form-container">
        <h3>Agregar Menú</h3>
        <form (ngSubmit)="addMenu()" #menuForm="ngForm">
          <!-- Entrada -->
          <div class="form-group">
            <label for="entrada">Entrada</label>
            <select id="entrada" name="entrada" [(ngModel)]="newMenu.entrada">
              <option value="" disabled selected>Elegir entrada</option>
              <option *ngFor="let comida of comidasEntradas" [ngValue]="comida">
                {{ comida.nombre }}
              </option>
            </select>
          </div>
  
          <!-- Plato Principal -->
          <div class="form-group">
            <label for="platoPrincipal">Plato Principal</label>
            <select
              id="platoPrincipal"
              name="platoPrincipal"
              [(ngModel)]="newMenu.platoPrincipal"
              required
            >
              <option value="" disabled selected>Elegir plato principal</option>
              <option *ngFor="let comida of comidasPlatosPrincipales" [ngValue]="comida">
                {{ comida.nombre }}
              </option>
            </select>
          </div>
  
          <!-- Bebida -->
          <div class="form-group">
            <label for="bebida">Bebida</label>
            <select id="bebida" name="bebida" [(ngModel)]="newMenu.bebida">
              <option value="" disabled selected>Elegir bebida</option>
              <option *ngFor="let comida of comidasBebidas" [ngValue]="comida">
                {{ comida.nombre }}
              </option>
            </select>
          </div>
  
          <!-- Postre -->
          <div class="form-group">
            <label for="postre">Postre</label>
            <select id="postre" name="postre" [(ngModel)]="newMenu.postre">
              <option value="" disabled selected>Elegir postre</option>
              <option *ngFor="let comida of comidasPostres" [ngValue]="comida">
                {{ comida.nombre }}
              </option>
            </select>
          </div>
  
          <!-- Precio -->
          <div class="form-group">
            <label for="precio">Precio</label>
            <input
              type="number"
              id="precio"
              name="precio"
              [(ngModel)]="newMenu.precio"
              placeholder="Enter price"
              required
            />
          </div>
  
          <button type="submit" class="btn" [disabled]="!menuForm.form.valid">
            Agregar Menú
          </button>
        </form>
      </div>
    </div>
  </div>
  