:root {
	--light: #fffbeb; 
	--primary: #d17020; 
	--secondary: #425d45; 
	--shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

	--primary-text: #121f16; 
	--secondary-text: #fffbeb; 

	--primary-bg: var(--light); 
	--secondary-bg: var(--secondary); 

	--highlight: #d27d37;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.fullwidth {
    width: 100%;
    padding: 0 1.5rem;
}

.light-bg {
    background-color: var(--primary-bg) !important;
    color: var(--primary-text) !important;
    border: 1px solid var(--secondary-bg); 
}

.light-bg label {
    color: var(--primary-text);
}

body {
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	background-color: var(--primary-bg);
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

header {
	background-color: var(--secondary-bg);
	color: var(--highlight);
	padding: 0.5rem 1.5rem;
	text-align: center;
	box-shadow: var(--shadow);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav ul {
	display: flex;
	justify-content: center;
	list-style: none;
	gap: 1.5rem;
}

nav ul li a {
	color: var(--secondary-text);
	text-decoration: none;
	font-weight: bold;
	transition: color 0.3s ease;
}

.unselected {
	color: var(--primary-text);
}

nav ul li a:hover {
	color: var(--highlight);
}

main {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2rem 3rem;
	min-height: 80vh;
    width: 100vw;
}

.content {
	display: flex;
    flex-direction: row;
	flex-wrap: wrap;
	gap: 2rem;
	width: 100%;
	text-align: center;
	justify-content: center;
}

.text-section {
	min-width: 300px;
    max-width: 450px;
}

.card {
    min-width: 300px;
    flex-grow: 1;
	background-color: var(--secondary-bg);
	padding: 2rem;
	border-radius: 10px;
	box-shadow: var(--shadow);
	transition: box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.card:hover {
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

h1 {
	font-size: 2.5rem;
	color: var(--primary-text);
}

h2 {
	color: var(--primary-text);
	padding: 0.25rem;
}
h2 a{
    text-decoration: none;
    color: var(--primary-text);
    cursor: pointer;
}

p {
	color: var(--primary-text);
}

.input-group {
	margin-bottom: 1.5rem;
}

label {
	color: var(--secondary-text);
	display: block;
	margin-bottom: 0.5rem;
}

input {
	width: 100%;
	padding: 0.75rem;
	border: none;
	border-radius: 5px;
	outline: none;
	font-size: 1rem;
}

input:focus {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.btn {
	width: 100%;
	padding: 0.75rem;
	background-color: var(--highlight);
	color: var(--secondary-text);
	border: none;
	border-radius: 5px;
	font-size: 1rem;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.btn:hover {
	background-color: var(--primary);
}

footer {
	background-color: var(--secondary-bg);
	color: var(--secondary-text);
	padding: 1rem;
	text-align: center;
	box-shadow: var(--shadow);
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

footer p {
	color: var(--secondary-text);
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: var(--primary-bg);
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.modal .btn {
    width: auto;
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

.profile-card {
    background-color: var(--primary-bg);
    border: 1px solid var(--secondary-bg); 
    border-radius: 10px;
    padding: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s, box-shadow 0.3s; 
    display: flex;
    flex-direction: column;
    align-items: start;
}
.profile-card:hover {
    transform: translateY(-2px); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


/* Style the section */
.preferences {
    padding: 20px;
  }
  
  /* Hide the default checkbox */
  input[type="checkbox"] {
    display: none;
  }
  
  /* Style the custom checkbox */
  input[type="checkbox"] + label:before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 10px;
    background-color: var(--primary-bg);
    border: 1px solid var(--secondary);
    border-radius: 30%;
    cursor: pointer;
  }
  
  /* Style the checked state */
  input[type="checkbox"]:checked + label:before {
    background-color: var(--highlight);
    border-color: var(--highlight);
  }
  
  /* Style the label */
  .preferences label {
    display: flex;
    align-items: end;
    cursor: pointer;
    justify-content: start;
  }

  .preferences-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
  }

  select { 
    width: 70%;
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
    color: var(--primary-text);
    background-color: #fffbeb;
    border: 1px solid var(--secondary);
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  select option {
    color: var(--primary-text);
    background-color: var(--light);
  }

  textarea {
    width: 70%;
    padding: 0.75rem;
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 1rem;
    color: var(--primary-text);
    background-color: #fffbeb;
    border: 1px solid var(--secondary);
    cursor: pointer;
    transition: background-color 0.3s ease;
    resize: none;
  }