<div class="container centered">
  <h2>Carta</h2>

  <div class="carta-container">
<!-- Tabla -->
<table>
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Menú</th>
      <th>Menú Vegetariano</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let carta of cartas">
      <td>{{ carta.dia }}</td>
      <td>
        <ul>
          <li *ngFor="let comida of carta.menu?.comidas">
            {{ comida.nombre }}
          </li>
          <li> <strong>Precio:  </strong>${{ carta.menu?.precio }}</li>
        </ul>
      </td>
      <td>
        <ul>
          <li *ngFor="let comida of carta.menuVeggie?.comidas">
            {{ comida.nombre }}
          </li>
          <li> <strong>Precio:  </strong>${{ carta.menuVeggie?.precio }}</li>
        </ul>
      </td>
      <td> 
        <button class="btn" (click)="openEditPopup(carta)">Editar</button>
        <button class="btn" (click)="deleteCarta(carta)">Borrar</button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Formulario -->
<div class="form-container">
  <h3>Agregar Carta</h3>
  <form (ngSubmit)="addCarta()" #cartaForm="ngForm">
    <div class="form-group">
      <label for="date">Fecha</label>
      <input
        type="date"
        id="date"
        name="date"
        [(ngModel)]="newCarta.dia"
        required
      />
    </div>

    <div class="form-group">
      <label for="menu">Menú</label>
      <select id="menu" name="menu" [(ngModel)]="newCarta.menu" required>
        <option [ngValue]="null" disabled selected>Elegir menú</option>
        <option *ngFor="let menu of parsedMenus" [ngValue]="menu">
          {{ menu.nombre }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="vegetarianMenu">Menú Vegetariano</label>
      <select
        id="vegetarianMenu"
        name="vegetarianMenu"
        [(ngModel)]="newCarta.menuVeggie"
        required
      >
        <option [ngValue]="null" disabled selected>
          Elegir menú vegetariano
        </option>
        <ng-container *ngFor="let menu of parsedMenusVeggie">
          <option [ngValue]="menu">
            {{ menu.nombre }}
          </option>
        </ng-container>
      </select>
    </div>

    <button type="submit" class="btn" [disabled]="!cartaForm.form.valid">
      Agregar Carta
    </button>
  </form>
</div>
  </div>

  
</div>

<!-- Edit Popup -->
<div class="popup" *ngIf="isEditPopupVisible">
  <div class="popup-content">
    <h3>Editar Carta</h3>
    <form #editForm="ngForm" (ngSubmit)="confirmEdit()">
      <div class="form-group">
        <label for="date">Fecha</label>
        <input
          type="date"
          id="date"
          name="date"
          [(ngModel)]="editableCarta.dia"
          required
        />
      </div>
  
      <div class="form-group">
        <label for="menu">Menú</label>
        <select id="menu" name="menu" [(ngModel)]="editableCarta.menu" required>
          <option [ngValue]="null" disabled selected>Elegir menú</option>
          <option *ngFor="let menu of parsedMenus" [ngValue]="menu">
            {{ menu.nombre }}
          </option>
        </select>
      </div>
  
      <div class="form-group">
        <label for="vegetarianMenu">Menú Vegetariano</label>
        <select
          id="vegetarianMenu"
          name="vegetarianMenu"
          [(ngModel)]="editableCarta.menuVeggie"
          required
        >
          <option [ngValue]="null" disabled selected>
            Elegir menú vegetariano
          </option>
          <ng-container *ngFor="let menu of parsedMenusVeggie">
            <option [ngValue]="menu">
              {{ menu.nombre }}
            </option>
          </ng-container>
        </select>
      </div>

      <button type="submit" class="btn" [disabled]="!editForm.form.valid">
        Confirmar
      </button>
      <button type="button" class="btn btn-cancel" (click)="closeEditPopup()">
        Cancelar
      </button>
    </form>
  </div>
</div>