<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <context-param>
    <param-name>cantAbonosDosDias</param-name>
    <param-value>10</param-value>
  </context-param>
  <context-param>
    <param-name>cantAbonosTresDias</param-name>
    <param-value>10</param-value>
  </context-param>
  <listener>
    <listener-class>AbonosListener</listener-class>
  </listener>
  <display-name>TTPS_2024_Entregable1_SaenzJulia</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ImprimeEntrada</display-name>
    <servlet-name>ImprimeEntrada</servlet-name>
    <servlet-class>ImprimeEntrada</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImprimeEntrada</servlet-name>
    <url-pattern>/ImprimeEntrada</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>FiltroEntradasAgotadas</display-name>
    <filter-name>FiltroEntradasAgotadas</filter-name>
    <filter-class>FiltroEntradasAgotadas</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>FiltroEntradasAgotadas</filter-name>
    <url-pattern>/ImprimeEntrada</url-pattern>
  </filter-mapping>
</web-app>